@import url('./WebPg/CSS/Code.css');
.App {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: calc(var(--content-height)-80px);
  width: var(--codeSpace-width);
}

.Code-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5vm;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f0f0f0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}